@charset "UTF-8";

@font-face {
    font-family: "NETFLIX SANS Regular";
    src: url("font/NetflixSans-Regular.otf") format("opentype"),
         url("font/NetflixSans-Regular.woff2") format("woff2");
  }
@font-face {
    font-family: "NETFLIX SANS Light";
    src: url("font/NetflixSans-Light.otf") format("opentype"),
         url("font/NetflixSans-Light.woff2") format("woff2");
  }
@font-face {
    font-family: "NETFLIX SANS Bold";
    src: url("font/NetflixSans-Bold.otf") format("opentype"),
         url("font/NetflixSans-Bold.woff2") format("woff2");
  }
@font-face {
    font-family: "NETFLIX SANS Medium";
    src: url("font/NetflixSans-Medium.otf") format("opentype"),
         url("font/NetflixSans-Regular.woff2") format("woff2");
  }

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
}

header {
    background-image: linear-gradient(to bottom, #060606, #141414);
}

header img {
    height: 100px;
}

main {
    width: 100%;
    color: white;
}

main h1 {
    font-family: NETFLIX SANS Regular ,Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}



main #principal {
    width: 750px;
    margin: auto;
    padding: 10px;    
}

.user {
    display: inline-block;
    max-width: 150px;
}

.user h2 {
    text-align: center;
    line-break: strict;
}

.user>img:hover{
    box-sizing: border-box;
    border: solid white 2px ;
}

main #principal img  {
    width: 125px;
    height: 125px;
    margin: 10px;
    border-radius: 5px;
}

section>input{
    display: ;
    width: auto;
}